@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    color: black;
    font-family: lato, sans-serif;
    font-weight: 300;
}

/*--nav and header--*/

#main-header{
    float: left;
    font-size: 250%;
    padding-left: 25px;
    letter-spacing: 2px;
}

#nav-bar{
    list-style-type: none;
}

#nav-bar > li{
    float: right;
    padding-right: 25px;
    padding-top: 10px;
    font-size: 175%;
    font-weight: bold;
    letter-spacing: 2px;
}

a{
    color: orange;
    text-decoration: none;
}


a:hover{
    color: yellow;
    text-decoration: underline;
    background-color: transparent;
}

/* hero image*/

.hero-image{
    height: 700px;
    max-width: 100%;
    background: url("../css/images/pexels-lukas-296302\ \(2\).jpg") no-repeat;
    background-color: orange;
    background-size: auto;
    margin: 0 10px 0 10px;
}

.text-content{
    float:right;
    border:2px solid white;
    text-align: center;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: white;
    padding-top: 50px;
    bottom: 250px;
    right: 200px;
    position: absolute;
}

/*--second page club details--*/

#about-us{
    height: 700px;
    margin: 10px 10px 0 10px;
}

#heading-div{
    height: 65px;
    background-color: white;
    font-size: 210%;
    text-align: center;
    font-family: lato sans-serif;
}

#left-div{
    width: 500px;
    float: left;
    padding-top: 50px;
    background-color: white;
    height: 500px;
    padding-left: 20px;
    font-size: 100%;
    border: 2px solid orange;
    background-color: grey;
}

#left-div  h2{
    padding-bottom: 20px;
    font-size: 200%;
}

.list-align{
    color: black;
    display: inline-block;
    list-style-type: disc;
    font-size: 150%;
    padding-left: 20px;
    text-align: left;
    line-height: 30px;
    width: 75%;
}

#right-div{
    width: 50%;
    float: right;
    padding-top: 70px;
    height: 500px;
}

img{
    height: 700px;
    width: 100%;
}





    






