@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    color: black;
    font-family: lato, sans-serif;
    font-weight: 300;
}

.main-header{
    color: black;
    text-decoration: none;
    background-color: grey;
    text-align: center;
    font-size: 300%;
    border: 2px grey solid;
    position: relative;
    text-transform: uppercase;

}

ul{
    list-style-type: none;
}

li{
    display: inline;
    float: right;
    padding-right: 10px;
    font-size: 130%;
}

a:link{
    color:green;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: purple;
    text-decoration: none;
    background-color: transparent;
}

/* hero image*/

.hero-image{
    height: 850px;
    max-width: 100%;
    background: url("../css/images/istockphoto-1342229939-612x612.jpg") no-repeat center center;
    background-color: orange;
    background-size: cover;
}

.text-content{
    float:right;
    border:2px solid grey;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: grey;
    position: relative;
    padding-top: 50px;
    padding-right: 100px;
}





    






